<!DOCTYPE html>
<html lang="en">
  <head>
    <title>MudraAI</title>
    <meta charset="UTF-8" />
    <meta
      name="robots"
      content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1"
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
    />
    <link rel="stylesheet" href="../static/css/main.css" />
  </head>
  <body>
    <!-- Header -->
    <header id="header" class="alt">
      <div class="logo">
        <a href="{{ url_for('index') }}">Mudra AI</a>
      </div>
      <a href="#menu">Menu</a>
    </header>
    <!-- Nav -->
    <nav id="menu">
      <ul class="links">
        <li><a href="{{ url_for('index') }}">Home</a></li>
        <li><a href="{{ url_for('upload') }}">Use AI</a></li>
        <li><a href="{{ url_for('about') }}">About</a></li>
      </ul>
    </nav>
    <!-- Banner -->
    <section class="banner full">
      <article>
        <img src="/static/images/img0001.png" alt="" width="1440" height="961" />
        <div class="inner">
          <header>
            <p>Explore the ancient hand gestures of Sattriya dance</p>
            <h2>Sattriya Mudras</h2>
            <br /><br />
            <button onclick="goToupload()">TRY NOW</button>
          </header>
        </div>
      </article>
      <article>
        <img src="/static/images/img0002.png" alt="" width="1440" height="961" />
        <div class="inner">
          <header>
            <p>Discover the spiritual significance of Sattriya mudras</p>
            <h2>Grace in Motion</h2>
            <br /><br />
            <button onclick="goToupload()">TRY NOW</button>
          </header>
        </div>
      </article>
      <article>
        <img src="/static/images/img0003.png" alt="" width="1440" height="962" />
        <div class="inner">
          <header>
            <p>
              Experience the beauty of storytelling through Sattriya mudras.
            </p>
            <h2>Graceful Storytelling</h2>
            <br /><br />
            <button onclick="goToupload()">TRY NOW</button>
          </header>
        </div>
      </article>
      <article>
        <img src="/static/images/img0004.png" alt="" width="1440" height="961" />
        <div class="inner">
          <header>
            <p>
              Sattriya mudras embody centuries of tradition, spirituality, and
              culture.
            </p>
            <h2>Expressions of Devotion</h2>
            <br /><br />
            <button onclick="goToupload()">TRY NOW</button>
          </header>
        </div>
      </article>
      <article>
        <img src="/static/images/img0005.png" alt="" width="1440" height="962" />
        <div class="inner">
          <header>
            <p>Sattriya's rich mudra repertoire extends beyond storytelling.</p>
            <h2>The Eternal Cycle</h2>
            <br /><br />
            <button onclick="goToupload()">TRY NOW</button>
          </header>
        </div>
      </article>
    </section>
    <!-- One -->
    <section id="one" class="wrapper style2">
      <div class="inner">
        <div class="grid-style">
          <div>
            <div class="box">
              <div class="image fit">
                <img src="/static/images/img0006.png" alt="" width="600" height="300" />
              </div>
              <div class="content">
                <header class="align-center">
                  <p>The hand gestures that narrate stories and emotions</p>
                  <h2>Expressions of Sattriya</h2>
                </header>
                <p>
                  Sattriya, one of the eight classical dance forms of India,
                  traces its roots to the Vaishnavite monasteries of Assam.
                  Mudras, or symbolic hand gestures, form the backbone of this
                  dance style, helping to narrate stories and convey emotions
                  without words. Each mudra holds a specific meaning,
                  representing everything from gods and goddesses to natural
                  elements and emotions, thus adding depth to the storytelling
                  aspect of the performance.
                </p>
                <footer class="align-center">
                  <a href="#" class="button alt">Learn More</a>
                </footer>
              </div>
            </div>
          </div>

          <div>
            <div class="box">
              <div class="image fit">
                <img src="/static/images/img0007.png" alt="" width="600" height="300" />
              </div>
              <div class="content">
                <header class="align-center">
                  <p>
                    From devotion to storytelling—each gesture holds a meaning
                  </p>
                  <h2>The Art of Mudras</h2>
                </header>
                <p>
                  In Sattriya dance, mudras are not mere hand gestures, but
                  intricate symbols with deep spiritual significance. They are
                  used to express divine themes, such as devotion, creation, and
                  the cosmos. Through these gestures, dancers communicate
                  profound narratives that connect the audience to the divine
                  and to the eternal flow of life. The art of mudras allows for
                  a deeper connection with the spiritual world, where every
                  gesture is a form of communication with the divine.
                </p>
                <footer class="align-center">
                  <a href="#" class="button alt">Learn More</a>
                </footer>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Two -->
    <section id="two" class="wrapper style3">
      <div class="inner">
        <header class="align-center">
          <p>
            Sattriya mudras are more than just a form of physical expression;
            they are an essential part of the dance’s narrative. Each mudra in
            Sattriya tells a story, reflects an emotion, or represents a deity.
            The beauty of these hand gestures lies in their ability to
            communicate without words. In the world of Sattriya, the hands
            become storytellers, narrating ancient tales that are as relevant
            today as they were centuries ago. Whether depicting the grace of
            Lord Krishna or the fury of the tempest, mudras bring the dance
            alive, connecting the physical world with the divine.
          </p>
          <h2>MudraAI</h2>
          <button onclick="goToupload()">TRY NOW</button>
        </header>
      </div>
    </section>
    <!-- Three -->
    <section id="three" class="wrapper style2">
      <div class="inner">
        <header class="align-center">
          <p class="special">
            Each Sattriya mudra is a visual language, a symbolic representation
            of emotions, gods, and cosmic principles. These mudras are not
            merely dance movements but powerful tools that convey complex
            stories and divine messages. From the delicate hands of the dancer
            to the sharpness of the fingers, every movement is an embodiment of
            devotion, wisdom, and grace.
          </p>
          <h2>MudraAI</h2>
        </header>
        <div class="gallery">
          <div>
            <div class="image fit">
              <a href="#"
                ><img src="/static/images/img0008.png" alt="" width="600" height="300"
              /></a>
            </div>
          </div>
          <div>
            <div class="image fit">
              <a href="#"
                ><img src="/static/images/img0009.png" alt="" width="600" height="300"
              /></a>
            </div>
          </div>
          <div>
            <div class="image fit">
              <a href="#"
                ><img src="/static/images/img00010.png" alt="" width="600" height="300"
              /></a>
            </div>
          </div>
          <div>
            <div class="image fit">
              <a href="#"
                ><img src="/static/images/img0001.png" alt="" width="600" height="300"
              /></a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div style="display: flex; justify-content: center; align-items: center">
      <p style="margin: 20px">TRY OUR AI MODEL NOW BY CLICKING THE BUTTON</p>
      <button
        style="background-color: black; color: white !important; margin: 20px"
        onclick="goToupload()"
      >
        TRY NOW
      </button>
    </div>
    <!-- Footer -->
    <footer id="footer">
      <div class="container">
        <ul class="icons">
          <li>
            <a href="{{ url_for('about') }}" style="text-decoration: none;">ABOUT</a>
          </li>
          <li>
            <a href="{{ url_for('upload') }}" style="text-decoration: none;">TRY OUR MUDRA</a
            >
          </li>
          <li>
            <a href="#" style="text-decoration: none;">OUR DATASET</a
            >
          </li>
          <li>
            <a href="#" style="text-decoration: none;">CONTACT US</a
            >
          </li>
        </ul>
      </div>
    </footer>
    
    <!-- Scripts -->
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/jquery.scrollex.min.js"></script>
    <script src="../static/js/skel.min.js"></script>
    <script src="../static/js/util.js"></script>
    <script src="../static/js/main.js"></script>
    <script>
      function 
        goToupload() {
        window.location.href = "{{ url_for('upload') }}";
      }
    </script>
  </body>
</html>