<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/css/popup.css">
    <title>PopUp</title>
  </head>
  <body>
    <div class="container">
      <div class="cookiesContent" id="cookiesPopup">
        <button class="close">✖</button>
        <img src="../images/img0001.png" alt="cookies-img" />
        <h2>MUDRA NAME</h2>
        <p>
          Lorem ipsum dolor sit eligendi a ipsa. Ullam quisquam laudantium
          nostrum nam repudiandae?
        </p>
        <button class="accept">Try Another Mudra</button>
      </div>
    </div>
  </body>
</html>
