<!DOCTYPE html>
<html lang="en">
  <head>
    <title>MudraAI</title>
    <meta charset="UTF-8" />
    <meta
      name="robots"
      content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1"
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
    />
    <link rel="stylesheet" href="../static/css/main.css" />
    <link rel="stylesheet" href="../static/css/popup.css" />
  </head>
  <body class="subpage">
    <!-- Header -->
    <header id="header" class="alt">
      <div class="logo">
        <a href="{{ url_for('index') }}">Mudra AI</a>
      </div>
      <a href="#menu">Menu</a>
    </header>

    <!-- Nav -->
    <nav id="menu">
      <ul class="links">
        <li><a href="{{ url_for('index') }}">Home</a></li>
        <li><a href="{{ url_for('upload') }}">Use AI</a></li>
        <li><a href="{{ url_for('about') }}">About</a></li>
      </ul>
    </nav>

    <!-- Section Wrapper (Like Upload Page) -->
    <section id="popup-section" class="wrapper style2">
      <div class="inner">
        <div class="box">
          <div class="content">
            <div class="main-container">
              <div class="popup-container">
                <img src="../static/images/img0001.png" alt="Mudra icon" />
                <h2>{{ mudra }}</h2>
                <p>{{ info }}</p>
                <button class="accept" onclick="goToupload()">
                  Try Another Mudra
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer id="footer">
      <div class="container">
        <ul class="icons">
          <li>
            <a href="{{ url_for('about') }}" style="text-decoration: none"
              >ABOUT</a
            >
          </li>
          <li>
            <a href="{{ url_for('upload') }}" style="text-decoration: none"
              >TRY OUR MUDRA</a
            >
          </li>
          <li><a href="#" style="text-decoration: none">OUR DATASET</a></li>
          <li><a href="#" style="text-decoration: none">CONTACT US</a></li>
        </ul>
      </div>
    </footer>

    <!-- Scripts -->
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/jquery.scrollex.min.js"></script>
    <script src="../static/js/skel.min.js"></script>
    <script src="../static/js/util.js"></script>
    <script src="../static/js/main.js"></script>
  </body>
</html>
