<!DOCTYPE html>
<html>
  <head>
    <title>TRY AI</title>
    <meta charset="utf-8" />
    <meta
      name="robots"
      content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../assets/css/main.css" />
  </head>
  <body class="subpage">
  <link rel="stylesheet" href="../assets/css/styles.css">
    <!-- Header -->
    <header id="header">
      <div class="logo"><a href="index.html">MUDRA AI</a></div>
      <a href="#menu">Menu</a>
    </header>
    <!-- Nav -->
    <nav id="menu">
      <ul class="links">
        <li><a href="index.html">Home</a></li>
        <li><a href="upload.html">Use AI</a></li>
        <li><a href="about.html">About</a></li>
      </ul>
    </nav>
    <!-- One -->
    <section id="One" class="wrapper style3">
      <div class="inner">
        <header class="align-center">
          <p>TRY OUR AI</p>
          <h2>UPLOAD YOU MUDRA GESTURE BELOW</h2>
        </header>
      </div>
    </section>
    <!-- Two -->
    <section id="two" class="wrapper style2">
      <div class="inner">
        <div class="box">
          <div class="content">
            <div class="main-container">
              <div class="upload-container">
                <label for="input-file" class="drop-area" id="drop-area">
                  <input
                    type="file"
                    accept="image/*"
                    id="input-file"
                    capture="environment"
                  />
                  <div id="preview-container">
                    <img id="preview-img" alt="Image Preview" />
                  </div>
                  <img
                    src="https://cdn-icons-png.freepik.com/256/6803/6803412.png?uid=R193965700&ga=GA1.1.737211819.1743438211&semt=ais_hybrid"
                    height="70"
                    width="70"
                    alt="Upload Icon"
                    id="upload-icon"
                  />
                  <p id="upload-text">
                    Drag & Drop or Click here<br />to Upload an Image
                  </p>
                  <span id="file-name">(only JPG, PNG)</span>
                </label>
              </div>

              <button id="upload-btn" class="upload-btn" disabled>
                Upload
              </button>

              <div class="spinner-container" id="spinner-container">
                <div class="spinner"></div>
                <p class="status-message" id="status-message">
                  Uploading your image...
                </p>
              </div>

              <p
                class="status-message success-message"
                id="success-message"
              ></p>
              <p class="status-message error-message" id="error-message"></p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Footer -->
    <footer id="footer">
      <div class="container">
        <ul class="icons">
          <li>
            <a href="about.html" style="text-decoration: none;">ABOUT</a>
          </li>
          <li>
            <a href="upload.html" style="text-decoration: none;">TRY OUR MUDRA</a
            >
          </li>
          <li>
            <a href="#" style="text-decoration: none;">OUR DATASET</a
            >
          </li>
          <li>
            <a href="#" style="text-decoration: none;">CONTACT US</a
            >
          </li>
        </ul>
      </div>
    </footer>

    <!-- Scripts -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/jquery.scrollex.min.js"></script>
    <script src="assets/js/skel.min.js"></script>
    <script src="assets/js/util.js"></script>
    <script src="assets/js/main.js"></script>
    <script src="assets/js/ai.js"></script>
  </body>
</html>